<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>QuizNavBar</title>
</head>
<body>
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/"> Quiz game</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <div sec:authorize="hasAnyRole('ADMIN', 'USER')">
          <li class="nav-item">
            <form class="nav-link" method="post" th:action="@{/logout}">
              <button class="nav-link" type="submit">Logout</button>
            </form>
          </li>
        </div>
        <div sec:authorize="isAnonymous()">
          <li class="nav-item">
            <form class="nav-link" method="get" th:action="@{/login}">
              <button class="nav-link" type="submit">Login</button>
            </form>
          </li>
        </div>
        <div sec:authorize="isAnonymous()">
          <li class="nav-item">
            <form class="nav-link" method="get" th:action="@{/register}">
              <button class="nav-link" type="submit">Sign Up</button>
            </form>
          </li>
        </div>
        <div sec:authorize="hasAnyRole('ADMIN', 'USER')">
          <li class="nav-item">
            <form class="nav-link" method="get" th:action="@{/questionHistory}">
              <button class="nav-link" type="submit">history</button>
            </form>
          </li>
        </div>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <p class="nav-link">Hello guest!
          </p>
        </li>
        <li class="nav-item" sec:authorize="!hasRole('ADMIN') and !isAnonymous()">
          <p class="nav-link" th:inline="text">Hello <span sec:authentication="name"
                                                           th:remove="tag">thymeleaf</span>!
          </p>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
          <p class="nav-link">Hello admin!
          </p>
        </li>
        <div sec:authorize="hasRole('USER')">
          <li class="nav-item">
            <form class="nav-link" method="get" th:action="@{/userPreferences}">
              <button class="nav-link" type="submit">Options</button>
            </form>
          </li>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
          <li class="nav-item">
            <form class="nav-link" method="get" th:action="@{/h2-console}">
              <button class="nav-link" type="submit">H2 console</button>
            </form>
          </li>
        </div>
      </ul>
    </div>
  </nav>
</div>

</body>
</html>