<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>authtestpage</title>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<p>yo man</p>
<p><span th:remove="tag"
         sec:authentication="authorities">thymeleaf</span></p>
<p>
<div sec:authorize="hasRole('ROLE_ADMIN')">
  your role: ROLE_ADMIN
</div>
<div sec:authorize="hasRole('ADMIN')">
  your role: ADMIN
</div>
<div sec:authorize="hasRole('USER')">
  your role :USER
</div>
<div sec:authorize="hasRole('ROLE_USER')">
  your role: ROLE_USER
</div>
</p>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>