<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>authtestpage</title>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<p>yo man</p>
<p><span sec:authentication="authorities"
         th:remove="tag">thymeleaf</span></p>
<div sec:authorize="hasRole('ROLE_ADMIN')">
  your role: ROLE_ADMIN
</div>
<div sec:authorize="hasRole('ADMIN')">
  your role: ADMIN
</div>
<div sec:authorize="hasRole('USER')">
  your role :USER
</div>
<div sec:authorize="hasRole('ROLE_USER')">
  your role: ROLE_USER
</div>
</body>
</html>