<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Good Answer</title>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        rel="stylesheet">
</head>
<body style="text-align: center;">
<div th:insert="~{fragments/navbar :: navbar}">...</div>
<h1>Very Well Done!!</h1>
<br>
<p th:text="${question.questionText}"></p>
<p>is indeed:</p>
<p th:text="${question.correctAnswer}"></p>
<br>
<a aria-pressed="true" class="btn btn-primary btn-lg btn-block" href="/quiz"
   role="button">AGAIN!</a>

</body>
</html>